html,body,*{
    background-size:cover;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #282828;
}
body{
    background-image: url(background-image: url("dark-mountain-gd3o1mx0wxezbewk.jpg"));
}
.topnav{
    background-color: #282828;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #282828;
    text-align: center;
    padding: 14x 16x;
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin: 20;
}


.heading{
    text-align: center;
    font-size: 50;
    font-stretch:condensed;
}